{% extends 'self_service_kiosk/pre_login_base.html' %}

{% block title %}Passwort zurücksetzen{% endblock %}

{% block content %}
    <div class="container">
        <div class="left-box">
            <h2>Passwort zurücksetzen</h2>
            <form action="{% url 'self-service-kiosk:forgot_password' %}" method="post">
                {% csrf_token %}
                Um dein Passwort zurückzusetzen, bitte hier deine Mitgliedsnummer eingeben:<br><br>
                <label for="mitgliedsnummer">Mitgliedsnummer:</label>
                <input type="text" id="mitgliedsnummer" name="mitgliedsnummer"><br><br>
                <input type="submit" value="Passwort zurücksetzen">
            </form>
            <div class="links">
                <a href="{% url 'self-service-kiosk:login' %}"><b>Passwort doch nicht vergessen? Hier anmelden</b></a>
                <a href="{% url 'self-service-kiosk:register' %}">Noch kein Konto? Hier registrieren</a>
            </div>
        </div>
    </div>
{% endblock content %}
