<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Platzhalter{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'self_service_kiosk/pre_login.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% block header %}
    {% endblock %}
</head>
<body>
    <div class="messages">
        {% if messages %}
            {% for message in messages %}
                <div class="alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <a href="{% url 'self-service-kiosk:help_page' %}" class="help-button">?</a>
</body>
</html>
